:root{
    --bg-primary-blue:#0D384B;
    --secundary-color:#005f73
    --color-light: #e5e5e5
    
}

.color-light{
    background-color: #e5e5e5;
}

.bg-primary-blue{
    background-color: #0D384B;
}

.btn {
    background-color: var(--bg-primary-blue);
    color: #fff;
}

.btn:hover{
    background-color: var(--secundary-color);
    color: #fff;

}

#cards .card{
    max-width: 1320px;
    height: 480px;
}





